@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=Nunito:ital,wght@1,200&family=Poppins:wght@200&family=Roboto:ital,wght@0,300;1,100&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
