/* :root{
    --grain:#D7CEC7;
    --blackboard:#565656;
    --oxblood:#76323F;
    --tan:#C09F80;
} */

.rootNav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  /* margin-bottom: 30px; */
  z-index: 900;
  height: 60px;
  background-color: white;
  /* padding-bottom: 1em; */
  border-bottom: 0.5px solid rgb(166, 164, 164);
}
.another {
  position: static;
  margin-top: 80px;
  overflow-y: scroll;
  z-index: 10;
  top: 40;
}
.rootNav div {
  align-items: center;
  height: 100%;
}
.rootNav div:nth-child(1) {
  margin-left: 1em;
}
.navUL {
  display: flex;
  padding: 0;
}
.navUL li {
  list-style: none;
  margin-left: 45px;
  font-size: small;
}
.navLogin {
  display: flex;
  justify-content: space-around;
  width: 18%;
  line-height: 50px;
  font-size: medium;
  margin-right: 1em;
}
.section2 {
  width: 100%;
  height: 400px;
  /* background-color: #C09F80; */
  background: url("../public/Images/images.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.card {
  width: 250px;
  height: 250px;
  /* background-color: #D7CEC7; */
  margin: 1em 1em 0 0px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}
.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.imgres {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.departmentMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.departmentName {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
}
.booksmain {
  display: flex;
  /* flex-direction: column; */
  /* margin-top: em; */
}
.sidemenu {
  width: 20%;
  border-right: 0.5px solid black;
  max-height: 100vh;
  position: fixed;

  overflow-y: scroll;
}
.sidemenu li {
  padding: 2px;
}

.booksbody {
  height: 100%;
  width: 100%;
  margin-left: 15em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sidemenuUl {
  margin-left: 1em;
  /* position: fixed; */
  /* left: 0; */
  /* overflow: scroll; */
  /* height: 90vh; */
  margin-bottom: 0.4em;
}
.sidemenuUl li {
  list-style-type: none;
  margin-left: 1em;
}
.bookscart {
  text-align: center;
  margin-top: 10px;
  background-color: rgb(237, 243, 243);
  padding: 5px;
  width: 40%;
  font-size: 14px;
  margin-left: auto;
  border: 1px solid black;
}
.book {
  margin-right: 50px;
  margin-bottom: 2em;
}
.cartheader {
  width: 100%;
  margin: auto;
  /* position: absolute; */
  margin-top: 0;
  top: 12px;
  display: flex;
  justify-content: center;
}

.cartheader div {
  width: 70%;
  text-align: center;
  font-size: larger;
  padding: 1em;
  border-bottom: 0.5px solid rgb(200, 200, 200);
  font-weight: bold;
}
.cartitems {
  margin-top: 1em;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
.item p {
  font-size: 15px;
  padding-top: 3px;
}
.discription {
  display: flex;
}
.discription div {
  margin-right: 13px;
}

.error {
  color: red
}
.totalAmount{
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-end;
  margin: auto;
}
.totalAmount div{
  padding: 4px;
}
.totalAmount div:nth-child(3){
  margin-bottom: 100px;
  margin-top: 20px;
  background-color: rgb(20, 158, 20);
  width: 100%;
  text-align: center;
}
